.school-project-card {
  transition: all 0.3s ease-in-out;
  filter: brightness(80%);
}

.school-project-card:hover {
  filter: brightness(100%);
}

.school-project-card-image {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.static,
.no-gif {
  background-image: var(--static-background-image);
  background-size: "cover";
  background-position: center;
  display: block;
  width: 360px;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.static:hover {
  background-image: var(--hover-background-image);
}

.school-project-card-live-container {
  position: absolute;
  gap: 5px;
  bottom: 5px;
  right: 0;
  display: flex;
  flex-direction: column;
}

.school-project-card-live {
  padding: 5px;
  background-color: #2196f3;
  color: #fff;
  font-size: 14px;
}

.school-project-card-group {
  padding: 5px;
  background-color: #2196f3;
  color: #fff;
  font-size: 14px;
}

.school-project-card-content {
  padding: 10px;
}

.school-project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school-project-card-title {
  margin: 0;
  color: #2196f3;
}

.school-project-card-date {
  margin: 0;
  font-size: 14px;
}

.school-project-card-description {
  margin: 10px 0;
}

.school-project-card-github {
  margin-top: 10px;
  font-size: 14px;
}

.school-project-card-github a {
  color: #2196f3;
  text-decoration: none;
}

.school-project-card-github a:hover {
  color: #1565c0;
}

.school-project-card-links {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.school-project-card-live a {
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
}

.school-project-card-git a {
  color: #2196f3;
  text-decoration: none;
}

.school-project-card-git a:hover {
  color: #1565c0;
}

.school-project-card.dark {
  background-color: #333;
  color: #fff;
}

.school-project-card.dark .school-project-card-live {
  background-color: #444;
  color: #fff;
}

.school-project-card.dark .school-project-card-group {
  background-color: #444;
  color: #fff;
}

.school-project-card.dark .school-project-card-title,
.school-project-card.dark .school-project-card-date {
  color: #fff;
}
